version: "3.9"

services:
  app:
    # Build image using Dockerfile in current directory
    build: .

    # Name of the container
    container_name: node_app

    # Map host port to container port
    ports:
      - "3000:3000"

    # Mount current folder into container (live code sync)
    volumes:
      - .:/app
      #. → current folder on host
      #/app → folder inside container
      #Both point to the same files
      #Edit on host → reflected in container
      #Write in container → reflected on host

  redis:
    # Use official Redis image
    image: redis:7

    # Name of redis container
    container_name: redis

    # Expose Redis port
    ports:
      - "6379:6379"
